.button {
    padding: 10px;
    border-radius: 20px;
    background-color: white;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    &:hover {
        cursor: pointer;
        background-color: #ff868e;
        transition: 0.5s;
        fill: #ffff;
        svg {
            path {
                fill: white;
                transition: 0.5s;
            }
        }
    }
}

.buttonControls {
    padding: 10px;
    border-radius: 10px;
    background-color: #f8f8f7;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    transition: 0.5s;
    border: 2px solid transparent;
    &:hover {
        cursor: pointer;
        background-color: #f8f8f7;
        transition: 0.5s;
        border: 2px solid #fbe0dc;
        svg {
            path {
                fill: #ff868e;
                transition: 0.5s;
            }
        }
    }
}

.active {
    padding: 10px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #ff868e;
    transition: 0.5s;
    svg {
        fill: #ffff;
        path {
            fill: #ffff;
            transition: 0.5s;
        }
    }
}

.active {
    padding: 10px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: 0.5s;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #ff868e;
    transition: 0.5s;
    svg {
        fill: #ffff;
        path {
            fill: #ffff;
            transition: 0.5s;
        }
    }
}
.activeFav {
    padding: 10px;
    border-radius: 20px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    transition: 0.3s;
    border: 2px solid transparent;
    cursor: pointer;
    background-color: #fff;
    transition: 0.5s;
    svg {
        fill: #ff868e;
        path {
            fill: #ff868e;
            transition: 0.3s;
        }
    }
}
