

.button {
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    color: #ff868e;
    border: none;
    letter-spacing: 2;
    font-size: 12px;
    padding: 10px;
    width: 100%;
    &:hover {
        background-color: #fbe0dc;
        transition: 0.5s;
        cursor: pointer;
    }


}
.active {
    background-color: #ff868e;
    color: white;
    border-radius: 10px;
    border: none;
    letter-spacing: 2;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}