@import "./../../main.scss";
.root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .activeBorder {
        border: 2px solid #ff868e !important;
    }
    .textField,
    .activeBorder {
        width: 570px;
        background-color: white;
        border-radius: 20px;
        line-height: 1.5;
        font-size: 20px;
        color: #8c8c8c;
        border: 2px solid transparent;
        font-family: Jost;
        padding: 15px 20px;
        box-shadow: 0px 3px 4px 0px rgba($color: #000000, $alpha: 0.25);
        transition: 0.5s;
        &:focus {
            border: 2px solid #fbe0dc;
        }
        &:hover {
            border: 2px solid #fbe0dc;
            transition: 0.5s;
            box-shadow: none;
        }
        &:active {
            border: 2px solid #fbe0dc;
            transition: 0.5s;
        }
        &:visited {
            border: 2px solid #fbe0dc;
            transition: 0.5s;
        }
        .InputAdornment {
            font-size: inherit;
        }
        input {
            border-color: transparent;
            padding: 0px;
            font-family: Jost;
            font-size: 20px;
            line-height: 1.5;
            color: #1d1d1d;
            &::placeholder {
                font-family: Jost;
                font-size: 20px;
                line-height: 1.5;
                color: #8c8c8c;
            }
        }

        .iconButton {
            padding: 10px;
            border-radius: 10px;
            background-color: #fbe0dc;
            border: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            transition: 0.5s;
            &:hover {
                cursor: pointer;
                background-color: #ff868e;
                transition: 0.5s;
                svg {
                    path {
                        transition: 0.5s;
                        fill: white;
                    }
                }
            }
        }
    }

    .wrapperIcons {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .icons {
        display: flex;
        flex-direction: row;
        button {
            margin-right: 10px;
            &:last-of-type {
                margin-right: 0px;
            }
        }
    }
}

@include breakpoint(xs) {
    .root {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .activeBorder {
            border: 2px solid #ff868e !important;
        }

        .enter {
            opacity: 0;
            transition: opacity 0.3s;
        }

        .enterActive {
            opacity: 1;
            transition: opacity 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: #f8f8f7;
            z-index: 3;
            padding: 20px;
            button {
                margin: 0 0 0 auto;
            }
        }
        .exitActive {
            opacity: 0;
            display: none;
            transition: opacity 2s;
        }
        .exitDone {
            opacity: 0;
        }
        .textField,
        .activeBorder {
            width: 100%;
            background-color: white;
            border-radius: 20px;
            line-height: 1.5;
            font-size: 20px;
            color: #8c8c8c;
            border: 2px solid transparent;
            font-family: Jost;
            padding: 15px 20px;
            box-shadow: 0px 3px 4px 0px rgba($color: #000000, $alpha: 0.25);
            transition: 0.5s;
        }
        .wrapperIcons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 15px;
        }
        .icons {
            display: flex;
            flex-direction: row;
            button {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin-top: 30px;
            li {
                margin-right: 0;
                width: 100%;
                margin-bottom: 15px;
                text-align: center;
                div {
                    display: none;
                }
            }
        }
    }
}

@include breakpoint(sm) {
    .root {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;

        .activeBorder {
            border: 2px solid #ff868e !important;
        }

        .enter {
            opacity: 0;
            transition: opacity 0.3s;
        }
        .textField,
        .activeBorder {
            width: 20%;
            background-color: white;
            border-radius: 20px;
        }
        .enterActive {
            opacity: 1;
            transition: opacity 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: #f8f8f7;
            z-index: 3;
            padding: 20px;
            button {
                margin: 0 0 0 auto;
            }
        }
        .exitActive {
            opacity: 0;
            display: none;
            transition: opacity 2s;
        }
        .exitDone {
            opacity: 0;
        }
        .textField,
        .activeBorder {
            width: 90%;
            margin: 0px 10px;
        }
        .wrapperIcons {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 15px;
            .burgerSearch {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            button {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            padding: 0;
            li {
                margin-right: 20px;
                width: auto;
                div {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    height: 200px;
                    width: 140px;
                    border-radius: 20px;

                    background-clip: padding-box;
                    margin-bottom: 25px;
                }
            }
        }
        .first {
            background-color: #b4b7ff;
            border: 5px solid rgba(180, 183, 255, 0.6);
        }
        .second {
            background-color: #97eab9;
            border: 5px solid rgba(151, 234, 185, 0.6);
        }
        .third {
            background-color: #ffd280;
            border: 5px solid rgba(255, 210, 128, 0.6);
        }
    }
}

@include breakpoint(md) {
    .root {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 20px 0px 0px 0px;
        .activeBorder {
            border: 2px solid #ff868e !important;
        }

        .enter {
            opacity: 0;
            transition: opacity 0.3s;
        }
        .textField,
        .activeBorder {
            width: 20%;
            background-color: white;
            border-radius: 20px;
        }
        .enterActive {
            opacity: 1;
            transition: opacity 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: #f8f8f7;
            z-index: 3;
            padding: 20px;
            button {
                margin: 0 0 0 auto;
            }
        }
        .exitActive {
            opacity: 0;
            display: none;
            transition: opacity 2s;
        }
        .exitDone {
            opacity: 0;
        }
        .textField,
        .activeBorder {
            width: 90%;
            margin: 0px 10px;
        }
        .wrapperIcons {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 15px;
            .burgerSearch {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            button {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
}

@include breakpoint(lg) {
    .root {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        position: relative;
        width: 100%;
        padding: 20px 0px 0px 0px;
        .activeBorder {
            border: 2px solid #ff868e !important;
        }

        .enter {
            opacity: 0;
            transition: opacity 0.3s;
        }
        .textField,
        .activeBorder {
            width: 20%;
            background-color: white;
            border-radius: 20px;
        }
        .enterActive {
            opacity: 1;
            transition: opacity 0.3s;
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100vh;
            background: #f8f8f7;
            z-index: 3;
            padding: 20px;
            button {
                margin: 0 0 0 auto;
            }
        }
        .exitActive {
            opacity: 0;
            display: none;
            transition: opacity 2s;
        }
        .exitDone {
            opacity: 0;
        }
        .textField,
        .activeBorder {
            width: 90%;
            margin: 0px 10px;
        }
        .wrapperIcons {
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            width: 100%;
            margin-bottom: 15px;
            .burgerSearch {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
            }
        }
        .icons {
            display: flex;
            flex-direction: row;
            button {
                margin-right: 10px;
                &:last-of-type {
                    margin-right: 0px;
                }
            }
        }
    }
}
