@import "./../../main.scss";
.rootVoting {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.rootBreeds {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    .wrapperOrder {
        width: 50%;
        button:nth-child(1) {
            margin-right: 20px;
        }
    }
    div {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
    }
}
.rootCurrent {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 310px;
    span {
        border-radius: 10px;
        background: #ff868e;
        color: rgba(255, 255, 255, 1);
        border: none;
        letter-spacing: 2;
        font-size: 20px;
        padding: 10px;
        width: 100px;
        font-family: Jost;
        font-size: 12px;
        font-weight: 600;
        height: 40px;
        letter-spacing: 2px;
        text-transform: uppercase;
        transition: 0.5s;
        text-align: center;
    }
}
.selectMenu {
    border: none;
    background-color: #f8f8f7;
    border-radius: 10px !important;
    padding: 5px 10px;
    border: 2px solid transparent;
    transition: 0.5s;
    font-family: Jost;
    font-size: 16px;
    height: 40px;
    color: #8c8c8c;
    width: 45%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(./../../assets//icons/arrowSelect.svg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
    &:hover {
        border: 2px solid #fbe0dc;
        transition: 0.5s;
        cursor: pointer;
    }
    &:focus {
        border: 2px solid #fbe0dc !important;
        transition: 0.5s;
    }
    &:focus-visible {
        border: 2px solid #fbe0dc !important;
        transition: 0.5s;
        outline: none;
    }
}
.selectWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    margin-left: 20px;
}
option {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 30px;
}

.rootGallery {
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.enter {
    opacity: 0;
}
.enterActive {
    opacity: 1;
    transition: opacity 0.5s;
}
.exitActive {
    opacity: 0;
    transition: opacity 0.5s;
}

@include breakpoint(xs) {
    .rootCurrent {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span {
            border-radius: 10px;
            background: #ff868e;
            color: rgba(255, 255, 255, 1);
            border: none;
            letter-spacing: 2;
            font-size: 20px;
            padding: 10px;
            width: 100px;
            font-family: Jost;
            font-size: 12px;
            font-weight: 600;
            height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: 0.5s;
            text-align: center;
            margin-left: 10px;
        }
    }
    .rootBreeds {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        div {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }
    }
    .selectWrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
        .selectMenu:first-of-type {
            width: 100%;
        }
        .wrapperOrder {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            button:nth-child(1) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
    }
    .rootGallery {
        display: row;
        flex-wrap: wrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div {
            margin-bottom: 10px;
        }
    }
}

@include breakpoint(sm) {
    .rootCurrent {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span {
            border-radius: 10px;
            background: #ff868e;
            color: rgba(255, 255, 255, 1);
            border: none;
            letter-spacing: 2;
            font-size: 20px;
            padding: 10px;
            width: 100px;
            font-family: Jost;
            font-size: 12px;
            font-weight: 600;
            height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: 0.5s;
            text-align: center;
            margin-left: 10px;
        }
    }
    .rootBreeds {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .wrapperOrder {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            button:nth-child(1) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        div {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }
    }

  
    .rootGallery {
        display: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div {
            margin-bottom: 0px;
        }
    }
}

@include breakpoint(md) {
    .rootCurrent {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        span {
            border-radius: 10px;
            background: #ff868e;
            color: rgba(255, 255, 255, 1);
            border: none;
            letter-spacing: 2;
            font-size: 20px;
            padding: 10px;
            width: 100px;
            font-family: Jost;
            font-size: 12px;
            font-weight: 600;
            height: 40px;
            letter-spacing: 2px;
            text-transform: uppercase;
            transition: 0.5s;
            text-align: center;
            margin-left: 10px;
        }
    }
    .rootBreeds {
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        .wrapperOrder {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-end;
            width: 50%;
            button:nth-child(1) {
                margin-right: 10px;
                margin-left: 10px;
            }
        }
        div {
            display: inline-flex;
            justify-content: space-between;
            align-items: center;
        }
    }

  
    .rootGallery {
        display: row;
        flex-wrap: nowrap;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        div {
            margin-bottom: 0px;
        }
    }
    .selectWrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin-left: 0px;
    }
}
