@import "./../../main.scss";

.root {
    display: none !important;
    transition: 0.5s;
    opacity: 0;
}

.show {
    background-color: #f8f8f7;
    height: 94vh;
    width: 49%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: absolute;
    border-radius: 20px;
    top: 30px;
    bottom: 30px;
    right: 30px;
    opacity: 1;
    transition: 0.5s;
    z-index: 2;
    p {
        font-family: Jost;
        font-size: 20px;
        line-height: 1.5;
        color: #8c8c8c;
        text-align: center;
        a {
            text-decoration: none;
            color: #ff868e;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .specialButt {
        width: 20%;
        height: 40px;
        font-weight: 500;
        font-size: 14px;
        color: #fff;
        background: #ff868e;
        border: none;
        border-radius: 10px;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }
    .stateUpload {
        background: #fff;
        width: 100%;
        padding: 20px;
        display: inline-flex;
        justify-content: flex-start;
        border-radius: 20px;
        margin-top: 20px;
        p {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            svg {
                width: 30px;
                height: 30px;
                margin-right: 15px;
            }
        }
    }
    .loader {
        width: 20px;
        height: 20px;
        border: 3px solid #fff;
        border-bottom-color: #ff868e;
        border-radius: 50%;
        display: inline-block;
        box-sizing: border-box;
        animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
    .wrapperAddImage {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h2 {
            font-family: Jost;
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 20px;
            color: #1d1d1d;
            text-align: center;
        }
        .placeImage {
            width: 100%;
            height: 450px;
            background-color: #fff;
            border-radius: 20px;
            border: dashed 2px #fbe0dc;
            margin-top: 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: relative;
            text-align: center;
            cursor: pointer;
            .imageSelected {
                width: 95%;
                height: 400px;
                overflow: hidden;
                border-radius: 10px;
                img {
                    object-fit: cover;
                    object-position: center 0;
                    border-radius: 10px;
                    width: 100%;
                }
            }
            svg {
                position: absolute;
                z-index: 0;
                width: 100px;
                height: 100px;
            }
            h5 {
                z-index: 1;
                font-family: Jost;
                font-size: 28px;
                line-height: 1.5;
                color: #8c8c8c;
                span {
                    font-weight: 600;
                    color: #1d1d1d;
                }
            }
        }
    }
}

@include breakpoint(xs) {
    .show {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        opacity: 1;
        p {
            font-family: Jost;
            font-size: 18px;
            line-height: 1.5;
            color: #8c8c8c;
        }
        .specialButt {
            width: 100%;
            height: 40px;
            font-weight: 400;
            font-size: 14px;

            &:hover {
                cursor: pointer;
            }
        }
        .stateUpload {
            background: #fff;
            width: 100%;
            padding: 10px;
            display: inline-flex;
            justify-content: flex-start;
            border-radius: 20px;
            margin-top: 10px;
            text-align: left;
            p {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                text-align: left;
                svg {
                    width: 30px;
                    height: 30px;
                    margin-right: 15px;
                }
            }
        }
        .wrapperAddImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            h2 {
                font-family: Jost;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 20px;
                color: #1d1d1d;
                font-family: Jost;
            }
            .placeImage {
                width: 100%;
                height: 220px;
                margin-top: 20px;
                margin-bottom: 0;
                .imageSelected {
                    width: 95%;
                    height: 200px;
                    overflow: hidden;
                    border-radius: 10px;
                    margin-bottom: 0;
                    img {
                        object-fit: cover;
                        object-position: center 0;
                        border-radius: 10px;
                        width: 100%;
                    }
                }
                h5 {
                    z-index: 1;
                    font-family: Jost;
                    font-size: 22px;
                    line-height: 1.5;
                    color: #8c8c8c;
                    span {
                        font-weight: 600;
                        color: #1d1d1d;
                    }
                }
            }
        }
    }
}

@include breakpoint(sm) {
    .show {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        opacity: 1;

        .wrapperAddImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
    
            .placeImage {
                width: 100%;
                height: 420px;
                margin-top: 20px;
                margin-bottom: 0;
                .imageSelected {
                    width: 95%;
                    height: 400px;

                }
             
            }
        }
    }
}

@include breakpoint(md) {
    .show {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        position: absolute;
        border-radius: 0px;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        opacity: 1;

        .wrapperAddImage {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
    
            .placeImage {
                width: 100%;
                height: 520px;
                margin-top: 20px;
                margin-bottom: 0;
                .imageSelected {
                    width: 95%;
                    height: 500px;

                }
             
            }
        }
    }
}
