@import "./../main.scss";
.SideBlock {
    margin-top: 15px;
    min-height: 90%;
    max-height: auto;
    border-radius: 20px !important;
    box-shadow: none !important;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.Mainlayout {
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 35px;
}
.SideBlockGutter{
    padding-right: 15px;
}
@include breakpoint(xs) {
    .Mainlayout {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background:#F8F8F7;
        margin-top: 0;
        width: 100%;
    }
    .SideBlock {
        min-height: 90%;
        max-height: auto;
        border-radius: 20px !important;
        box-shadow: none !important;
        padding: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .SideBlockGutter{
        padding-right: 0px;
        padding: 20px;
        width: 100%;
    }
}

@include breakpoint(sm) {
    .Mainlayout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background:#F8F8F7;
        margin-top: 0;
        width: 100%;
      ;
    }
    .SideBlock {
        min-height: 90%;
        max-height: auto;
        border-radius: 20px !important;
        box-shadow: none !important;
        padding: 20px;
        display: flex;
        
        width: 100%;
        // flex-direction: column;
        // align-items: flex-start;
        // justify-content: flex-start;
    }
    .SideBlockGutter{
        padding-right: 0px;
        padding: 20px;
        width: 100%;
    }
}

@include breakpoint(md) {
    .Mainlayout {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        background:#F8F8F7;
        margin-top: 0;
        width: 100%;
      ;
    }
    .SideBlock {
        min-height: 90%;
        max-height: auto;
        border-radius: 20px !important;
        box-shadow: none !important;
        padding: 20px;
        display: flex;
        
        width: 100%;
    }
    .SideBlockGutter{
        padding-right: 0px;
        padding: 20px;
        width: 100%;
    }
}
